# Python
.venv/
__pycache__/
*.pyc

# PyCharm
.idea/

# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# SQLite temporary files
*.db-journal
*.db-shm
*.db-wal